.ipynb_checkpoints/
build/

uppasd/*/*.out
uppasd/*/meminfo
uppasd/*/inpsd.yaml

Makefile
.vscode/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.out

magsim/magsim
magsim/magsim_CoRuCo
magsim/magsim_manual
magsim/magsim_bulkCo
scratch

FePt/
